.is-1 {
  font-size: $size-1;

  @include mobile {
    font-size: $size-2;
  }
}

.is-2 {
  font-size: $size-2;

  @include mobile {
    font-size: $size-3;
  }
}

.is-3 {
  font-size: $size-3;

  @include mobile {
    font-size: $size-4;
  }
}

.is-4 {
  font-size: $size-4;

  @include mobile {
    font-size: $size-5;
  }
}

.is-5 {
  font-size: $size-5;

  @include mobile {
    font-size: $size-6;
  }
}

.is-6 {
  font-size: $size-6;

  @include mobile {
    font-size: 0.5rem;
  }
}