.admin-login-form {
  display: flex;

  box-shadow: $box-shadow;

  &__login,
  &__visit-shop {
    height: 500px;
    padding: 40px;
  }

  &__login {
    min-width: 400px;

    background: use-primary-color();
    background: linear-gradient(
      200deg,
      use-primary-color() 30%,
      use-primary-color(300) 100%
    );

    h1,
    p {
      color: use-secondary-color();
    }

    .input-field {
      margin: 20px 0;
    }

    .button {
      margin-top: 20px;
      width: 100%;
    }

    a {
      display: table;
      margin-top: 10px;
    }
  }

  &__visit-shop {
    width: 300px;
    background-color: rgba($light, 0.2);
    backdrop-filter: blur(10px);

    h3 {
      text-align: left;
      margin-top: 0;
      margin-bottom: 30px;
    }

    .button {
      width: 100%;
    }

    .cart-image {
      margin-bottom: 30px;
      text-align: center;

      img {
        height: 60px;
      }
    }
  }

  @include mobile {
    flex-direction: column;

    &__login,
    &__visit-shop {
      height: auto;
      width: 100%;
      padding: 20px;
    }

    &__login {
      min-width: initial;
    }
  }
}
